# Logs
logs
*.log
npm-debug.log

# Coverage directory
coverage
.nyc_output
.coveralls.yml

# Dependency directories
node_modules

# dotenv environment variables file
.env

# Dist folder
dist

# Misc
.DS_Store
.idea
